.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: grey;

    display: flex;
    justify-content: space-between;
    align-items: center;

////////////////////////////////////////////////  ICON
    &-icon{
        display: flex;
        padding: 0.5rem;

        &__technical, &__cart, &__user{
            display: flex;
            align-items: center;
        }
        
        &__technical img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0 0.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0 0.3rem;
                content: url("./../../img/technical.gif");
            }
        }
        
        &__cart img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0 0.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0 0.3rem;
                content: url("./../../img/carrito.gif");
            }
        }
        
        &__user img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0 0.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0 0.3rem;
                content: url("./../../img/hacker.gif");
            }
        }
    }

////////////////////////////////////////////////  LOGO
    &-logo{
        width: 5rem;
        height: 5rem;
        padding: 0 1rem;

        &:hover{
            width: 6.4rem;
            height: 6.4rem;
            padding: 0 0.3rem;
            content: url("./../../img/computadora.gif");
        }
    }

////////////////////////////////////////////////  NAVEGATION
    &-navegation{
        background-color: none;
        height: 100%;
        display: flex;
        flex: 0 0 30%;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        
        &_menu{
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;

            & a{
                color: black;
                text-decoration: none;
                font-size: medium;
                text-transform: uppercase;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size 1s;
                
            }

            &:hover{
                background-color: rgb(250, 211, 137);
            }
            &:hover a{
                background-size: 100% 2px;
                color: #33cccc;
            }
        }
    }

////////////////////////////////////////////////  SEARCH
    &-search{
        padding: 0 1rem 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__input{
            //font-family: inherit;
            //font-size: inherit;
            color: wheat;
            background: grey;
            border-color: #33cccc;
            //border: none;
            padding: 0.7rem 2rem;
            border-radius: 10px;
            transition: all 0.2s;
            margin-right: -2.25rem;

            &:focus{
                outline: none;
            }
        }

        &__button{
            background-color: grey;
            border: none;
            
            & img{
                width: 1.4rem;
                height: 1.5rem;
            }
        }
    }
}