






























































/*.sales{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(163, 78, 44);
    height: 80rem;

    & p{
        color: white;
        font-weight: 900;
        text-transform: capitalize;
    }
    &-one{
        font-size: 4rem;    
    }
    &-two{
        font-size: 1.5rem;    
    }
    &-three{
        font-size: 5rem;    
    }
    &-four{
        font-size: 1.5rem;    
    }
}*/