.header{

    &-icon{
        display: flex;
        padding: 0.5rem;

        &__technical{
            display: flex;
            align-items: center;
        }
        
        &__cesta{
            display: flex;
            align-items: center;
        }
        
        &__user{
            display: flex;
            align-items: center;
        }
        &__technical img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0 0.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0 0.3rem;
                content: url("./../../../img/technical.gif");
            }
        }
        
        &__carrito img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0.5rem 0.5rem 0 0.5rem;//hay que ponerle arriba

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0.4rem 0.3rem 0 0.3rem;
                content: url("./../../../img/carrito.gif");
            }
        }
        
        &__user img{
            width: 1.5rem;
            height: 1.5rem;
            padding: 0 0.5rem;

            &:hover{
                width: 2rem;
                height: 2rem;
                padding: 0 0.3rem;
                content: url("./../../../img/hacker.gif");
            }
        }
    }
}