.cart{
    position: absolute;
    margin-top: -5rem;
    margin-left: 100rem;
    z-index: 2;
    //visibility: hidden;

    width: 30rem;
    height: 50rem;
    background-color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        width: 90%;
        display: flex;
        justify-content: space-between;
        background-color: chartreuse;
        & p{
            width: 80%;
            
        }
    }

    &-products{
        width: 90%;
        display: flex;
        flex-direction: column;

        &__card{
            display: flex;
            justify-content: space-between;

            & img{
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
