.firstsection{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    & h2{
        margin: 5rem 0;
        font-size: 5rem;
    }
    & .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: yellowgreen;
        width: 70%;
        height: 50rem;
        //padding: 0 30rem;

        &-one{
            display: flex;
            flex-direction: column;

            background-color: violet;
            width: 22rem;
            height: 40rem;

            &__image{
                width: 100%;
                height: 15rem;
                background: linear-gradient(90deg, rgba(230, 230, 230, 1) 0%,  rgba(230, 230, 230, 1) 40%,rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
                display: flex;
                align-items: center;

                & p{
                    margin-left: -1rem;
                    margin-bottom: -3rem;
                    transform: rotate(-90deg);
                    font-size: 5rem;
                }
                &_im{
                    width: 7rem;
                    height: 10rem;
                    margin-left: -1rem;
                    background-color: red;
                }
                &_txt{
                    width: 9rem;
                    height: 12rem;
                    margin-left: 1.5rem;
                    background-color: yellow;

                    display: flex;
                    flex-direction: column;
                    & h4{
                        font-size: 1rem;
                        margin-top: -4rem;
                    }
                    & span{
                        margin-top: -2rem;
                    }
                }
                
            }

            & h4{
                font-size: 1.5rem;
                padding: 5rem 0 2rem 0;
            }
            & p{
                font-size: 1.2rem;
                text-align: justify;
            }
        }
    }
}