.header{
    background: linear-gradient(0deg, 
        rgba(42,42,42,1) 0%,  
        rgba(40,40,40,1) 50%,
        rgba(35,35,35,1) 65%, 
        rgba(28,28,28,1) 90%,
        rgba(20,20,20,1) 100%);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &-T{
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        font-size: 2rem;
        padding-top: 1rem;
        padding-left: 2rem;

        & b{
            color: rgb(0, 168, 125);
        }
    }

    &-bodertop{
        background-color: white;
        width: 100%;
        height: 2rem;

        display: flex;
        align-items: center;

        &__circle{
            height: 10px;
            width: 10px;
            border-radius: 50px;
            margin-left: 0.5rem;
        }
        .red{
            background-color: #ff0000;
        }
        .yellow{
            background-color: #f8be50;
        }
        .green{
            background-color: #008000;
        }
    }


    &-title{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;

        background: linear-gradient(0deg, 
            rgba(55, 55, 55, 1) 0%, 
            rgba(22, 22, 22, 1) 50%, 
            rgba(20, 20, 20, 1) 100%);
        box-shadow: 0.5rem 0.5rem 5rem black;

        width: 80rem;
        height: 50rem;

        & h1{
            margin-top: 10rem;
            font-size: 4.5rem;
            font-weight: 900;
            text-transform: capitalize;
            transition: transform 0.5s;
        }
        & h3{
            font-size: 2rem;
            font-weight: 500;
            text-transform: capitalize;
            transition: transform 0.8s;
        }
        & h1:hover, & h3:hover{
            transform: scale(1.1);
        }

        &__icon{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;

            & img{
                width: 2rem;
                height: 2rem;
                padding: 0 1.5rem;
                transition: transform 0.5s;
                &:hover{
                    transform: scale(1.2);
                    cursor: pointer;
                }
            } 
        }
    }

//////////////////////////////////////CHOICE
    &-choice{
        z-index: 1;
        position: absolute;
        margin-top: 30rem;
        margin-right: 95rem;

        @media only screen and (max-width: 1400px) {
            &{
                background-color: red;
                z-index: -1;
            }
        }

        &__images{
            display: flex;
            align-items: center;
            &_i{
                width: 9rem;
                height: 9rem;
                background-color: rgba(100, 100, 100, 1);
                border-radius: 0.4rem;
                margin: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
    
                & img{
                    height: 6rem;
                }
            }
            & p{
                font-size: 3rem;
                color: #00a87d;
            }
        }
        &__text{
            display: flex;
            justify-content: space-between;
            color: white;
            padding: 0 5rem;
        }
    }


//////////////////////////////////////OFFER
    &-offer{
        position: absolute;
        margin-top: 25rem;
        margin-left: 87rem;

        display: flex;
        flex-direction: column;


        width: 10rem;
        height: 20rem;
        border: 1px solid white;
        border-radius: 0.4rem;
        background-color: rgba(22,22,22,0.8);
        color: white;
        font-size: 1rem;
        font-weight: 900;

        @media only screen and (max-width: 1050px) {
            &{
                background-color: red;
                z-index: -1;
            }
        }

        &__title{
            padding-top: 0.5rem;
            padding-left: 0.5rem;
            padding-bottom: 1rem;
        }
        &__top{
            color: rgb(0, 168, 125);
            padding-left: 1.5rem;
            padding-top: 1rem;
        }
        &__sub{
            padding-left: 3rem;
            font-size: 0.9rem;
            padding-bottom: 1rem;
        }

        & hr{
            margin: 0 auto;
            width: 65%;
        }
    }
}







































































/*.header{
    height: 11.4rem;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

////////////////////////////////////////////////  LOGO
    &-logo{
        width: 10rem;
        height: 8.1rem;
        padding: 0 1.63rem;

        &:hover{
            width: 12.84rem;
            height: 10.40rem;
            padding: 0 0.2rem;
            content: url("./../../img/computadora.gif");
        }
    }

////////////////////////////////////////////////  NAVEGATION
    &-navegation{
        background-color: none;
        height: 100%;
        display: flex;
        flex: 0 0 30%;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        
        &_menu{
            list-style: none;
            height: 100%;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            padding: 0 0.8rem;

            & a{
                color: black;
                text-decoration: none;
                font-size: medium;
                text-transform: uppercase;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 0.33px;
                transition: background-size 1s;
                
            }

            &:hover{
                background-color: rgb(92, 92, 92);
            }
            &:hover a{
                background-size: 100% 2px;
                color: #33cccc;
            }
        }
    }

////////////////////////////////////////////////  SEARCH
    &-search{
        padding: 0 1.63rem 0 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__input{
            //font-family: inherit;
            //font-size: inherit;
            color: wheat;
            background: grey;
            border-color: #33cccc;
            //border: none;
            padding: 0.7rem 3.25rem;
            border-radius: 10px;
            transition: all 0.2s;
            margin-right: -2.25rem;

            &:focus{
                outline: none;
            }
        }

        &__button{
            background-color: grey;
            border: none;
            
            & img{
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }


////////////////////////////////////////////////  ICON
    &-icon{
        display: flex;
        padding: 0.8rem;

        &__technical, &__cart, &__user{
            display: flex;
            align-items: center;
        }
        
        &__technical img{
            width: 2.43rem;
            height: 2.43rem;
            padding: 0 0.8rem;

            &:hover{
                width: 3.25rem;
                height: 3.25rem;
                padding: 0 0.49rem;
                content: url("./../../img/technical.gif");
            }
        }
        
        &__cart img{
            width: 2.43rem;
            height: 2.43rem;
            padding: 0 0.8rem;

            &:hover{
                width: 3.25rem;
                height: 3.25rem;
                padding: 0 0.49rem;
                content: url("./../../img/carrito.gif");
            }
        }
        
        &__user img{
            width: 2.43rem;
            height: 2.43rem;
            padding: 0 0.8rem;

            &:hover{
                width: 3.25rem;
                height: 3.25rem;
                padding: 0 0.49rem;
                content: url("./../../img/hacker.gif");
            }
        }
    }
}*/