.second{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-title{

    }

    &-products{
        display: flex;
        justify-content: space-between;
        background-color: cadetblue;
        width: 90%;
        flex-wrap: wrap;

        &__card{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 30rem;
            height: 50rem;
            background-color: chartreuse;
            margin-bottom: 3rem;
            border: 1px solid black;
            border-radius: 0.4rem;
        }
    }
}
















.imagen{
    width: 20rem;
    height: 20rem;
    margin: 2rem 0;
    border-radius: 1rem;
}
.footer{
    width: 100%;
    height: 200rem;
    background-color: blueviolet;
}