.header{
    &-logo{
        width: 5rem;
        height: 5rem;
        padding: 0 1rem;

        &:hover{
            width: 6.4rem;
            height: 6.4rem;
            padding: 0 0.3rem;
            content: url("./../../../img/computadora.gif");
        }
    }
}